.box-Container {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listname-done {
  text-decoration: line-through;
  color: green;
}

.listname {
  text-decoration: none;
}
